[client]
port = 3306
socket = /var/lib/mysql/mysql.sock

[mysqld]
port = 3306
socket = /var/lib/mysql/mysql.sock

log_error = /var/lib/mysql/mysql.err
slow_query_log
slow_query_log_file = /var/lib/mysql/mysql-slow.log
log_output = FILE
long_query_time = 1.0

character-set-server = utf8
skip-character-set-client-handshake

innodb_file_format = Barracuda
innodb_buffer_pool_size = 1248M
innodb_flush_method = O_DIRECT
innodb_file_per_table

max_connections=4096
thread_cache=4096

key_buffer_size = 32M
sort_buffer_size = 2M
read_buffer_size = 2M
query_cache_type = 1
wait_timeout = 5 
[mysqldump]
max_allowed_packet = 16M
